<!DOCTYPE html>
<html>
   <head>
     <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
     <title>Fred Vatnsdal</title>
   </head>
    <body>
        <div>
          <h1>Fred Vatnsdal</h1>
          <p>Montreal, QC<p>
        </div>

        <div class="blurb">
          <p> I am a hardware engineer interested in robotics and communication systems. I am currently a Research Assistant at the <a href="http://icon.uwaterloo.ca/index.php">ICON Lab</a> where I am working on mmWave IoT and RFID devices. Prior to this, I was on the iPhone Hardware team at Apple.
          </p>
        </div>
        <div style="width: 75px; float: left;">
          <a href="https://github.com/wvat" class="fa fa-github" style="font-size:48px;color:red"></a>
        </div>

        <div>
          <a href="https://www.linkedin.com/in/fred-vatnsdal/" class="fa fa-linkedin" style="font-size:48px;color:red"></a>
        </div>
    </body>
</html>
